APP_ENV=${SET_APP_ENV}
APP_DEBUG=${SET_APP_DEBUG}

DB_HOST=${SET_DB_HOST}
DB_NAME=${SET_DB_NAME}
DB_USER=${SET_DB_USER}
DB_PASS=${SET_DB_PASS}
DB_PORT=${SET_DB_PORT}

BASE_URL=${SET_BASE_URL}

MINIO_ENDPOINT=${SET_MINIO_ENDPOINT}
MINIO_ACCESS_KEY=${SET_MINIO_ACCESS_KEY}
MINIO_SECRET_KEY=${SET_MINIO_SECRET_KEY}
MINIO_BUCKET=${SET_MINIO_BUCKET}
MINIO_REGION=${SET_MINIO_REGION}
MINIO_USE_SSL=${SET_MINIO_USE_SSL}
