

<style type="text/css">
    

.sticky{

  position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;

}


</style>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ArchitectUI HTML Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" href="../assets/css/base.min.css">

</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <!--Header START-->
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">dddd
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>    
        <div class="app-header__content">
            <div class="app-header-left">
                
                <ul class="header-megamenu nav">
                    <li class="nav-item">
                        <a href="javascript:void(0);" data-placement="bottom" rel="popover-focus" data-offset="300" data-toggle="popover-custom" class="nav-link">
                            <i class="nav-link-icon pe-7s-gift"> </i>
                            Mega Menu
                            <i class="fa fa-angle-down ml-2 opacity-5"></i>
                        </a>
                        <div class="rm-max-width">
                            <div class="d-none popover-custom-content">
                                <div class="dropdown-mega-menu">
                                    <div class="grid-menu grid-menu-3col">
                                        <div class="no-gutters row">
                                            <div class="col-sm-6 col-xl-4">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item-header nav-item">
                                                        Overview
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">
                                                            <i class="nav-link-icon lnr-inbox">
                                                            </i>
                                                            <span>
                                                                Contacts
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">
                                                            <i class="nav-link-icon lnr-book">
                                                            </i>
                                                            <span>
                                                                Incidents
                                                            </span>
                                                            <div class="ml-auto badge badge-pill badge-danger">5
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">
                                                            <i class="nav-link-icon lnr-picture">
                                                            </i>
                                                            <span>
                                                                Companies
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                                            <i class="nav-link-icon lnr-file-empty">
                                                            </i>
                                                            <span>
                                                                Dashboards
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-xl-4">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item-header nav-item">
                                                        Favourites
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">
                                                            Reports Conversions
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">
                                                            Quick Start
                                                            <div class="ml-auto badge badge-success">New</div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">Users &amp; Groups</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">Proprieties</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-xl-4">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item-header nav-item">Sales &amp; Marketing
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">Queues
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">Resource Groups
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">Goal Metrics
                                                            <div class="ml-auto badge badge-warning">3
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="javascript:void(0);" class="nav-link">Campaigns
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="btn-group nav-item">
                        <a  class="nav-link" data-toggle="dropdown" aria-expanded="false">
                            <span class="badge badge-pill badge-danger ml-0 mr-2">4</span>
                            Settings
                            <i class="fa fa-angle-down ml-2 opacity-5"></i>
                        </a>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu">
                            <div class="dropdown-menu-header">
                                <div class="dropdown-menu-header-inner bg-secondary">
                                    <div class="menu-header-image opacity-5" style="background-image: url('../assets/images/dropdown-header/abstract2.jpg');"></div>
                                    <div class="menu-header-content">
                                        <h5 class="menu-header-title">Overview</h5>
                                        <h6 class="menu-header-subtitle">Dropdown menus for everyone</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-area-xs">
                                <div class="scrollbar-container">
                                    <h6 tabindex="-1" class="dropdown-header">Key Figures</h6>
                                    <button type="button" tabindex="0" class="dropdown-item">Service Calendar</button>
                                    <button type="button" tabindex="0" class="dropdown-item">Knowledge Base</button>
                                    <button type="button" tabindex="0" class="dropdown-item">Accounts</button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button" tabindex="0" class="dropdown-item">Products</button>
                                    <button type="button" tabindex="0" class="dropdown-item">Rollup Queries</button>
                                </div>
                            </div>
                            <ul class="nav flex-column">
                                <li class="nav-item-divider nav-item"></li>
                                <li class="nav-item-btn nav-item">
                                    <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>        </div>
            <div class="app-header-right">
              
                
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            
                          
                            <div class="widget-content-right header-user-info ml-3">
                                <button type="button" class="btn-shadow btn btn-primary btn-sm">
                                    <i class="pe-7s-key"> </i> Login 
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
        </div>
    </div>    <!--Header END-->
    <!--THEME OPTIONS START-->
    
                                
                                
                                
    



                                            <h5 class="card-title">Carousel with Captions</h5>
                                            <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-100" src="https://via.placeholder.com/800x400" alt="First slide">
                                                        <div class="carousel-caption d-none d-md-block">
                                                            <h5>First Slide</h5>
                                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-100" src="https://via.placeholder.com/800x400" alt="Second slide">
                                                        <div class="carousel-caption d-none d-md-block">
                                                            <h5>Second Slide</h5>
                                                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                                        </div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img class="d-block w-100" src="https://via.placeholder.com/800x400" alt="Third slide">
                                                        <div class="carousel-caption d-none d-md-block">
                                                            <h5>Third Slide</h5>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
































</div>
<!--DRAWER START-->

<div class="app-drawer-overlay d-none animated fadeIn"></div><!--DRAWER END-->

<!--SCRIPTS INCLUDES-->

<!--CORE-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
<script src="../assets/js/scripts-init/app.js"></script>
<script src="../assets/js/scripts-init/demo.js"></script>

<!--CHARTS-->

<!--Apex Charts-->
<script src="../assets/js/vendors/charts/apex-charts.js"></script>

<script src="../assets/js/scripts-init/charts/apex-charts.js"></script>
<script src="../assets/js/scripts-init/charts/apex-series.js"></script>

<!--Sparklines-->
<script src="../assets/js/vendors/charts/charts-sparklines.js"></script>
<script src="../assets/js/scripts-init/charts/charts-sparklines.js"></script>

<!--Chart.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="../assets/js/scripts-init/charts/chartsjs-utils.js"></script>
<script src="../assets/js/scripts-init/charts/chartjs.js"></script>

<!--FORMS-->

<!--Clipboard-->
<script src="../assets/js/vendors/form-components/clipboard.js"></script>
<script src="../assets/js/scripts-init/form-components/clipboard.js"></script>

<!--Datepickers-->
<script src="../assets/js/vendors/form-components/datepicker.js"></script>
<script src="../assets/js/vendors/form-components/daterangepicker.js"></script>
<script src="../assets/js/vendors/form-components/moment.js"></script>
<script src="../assets/js/scripts-init/form-components/datepicker.js"></script>

<!--Multiselect-->
<script src="../assets/js/vendors/form-components/bootstrap-multiselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="../assets/js/scripts-init/form-components/input-select.js"></script>

<!--Form Validation-->
<script src="../assets/js/vendors/form-components/form-validation.js"></script>
<script src="../assets/js/scripts-init/form-components/form-validation.js"></script>

<!--Form Wizard-->
<script src="../assets/js/vendors/form-components/form-wizard.js"></script>
<script src="../assets/js/scripts-init/form-components/form-wizard.js"></script>

<!--Input Mask-->
<script src="../assets/js/vendors/form-components/input-mask.js"></script>
<script src="../assets/js/scripts-init/form-components/input-mask.js"></script>

<!--RangeSlider-->
<script src="../assets/js/vendors/form-components/wnumb.js"></script>
<script src="../assets/js/vendors/form-components/range-slider.js"></script>
<script src="../assets/js/scripts-init/form-components/range-slider.js"></script>

<!--Textarea Autosize-->
<script src="../assets/js/vendors/form-components/textarea-autosize.js"></script>
<script src="../assets/js/scripts-init/form-components/textarea-autosize.js"></script>

<!--Toggle Switch -->
<script src="../assets/js/vendors/form-components/toggle-switch.js"></script>


<!--COMPONENTS-->

<!--BlockUI -->
<script src="../assets/js/vendors/blockui.js"></script>
<script src="../assets/js/scripts-init/blockui.js"></script>

<!--Calendar -->
<script src="../assets/js/vendors/calendar.js"></script>
<script src="../assets/js/scripts-init/calendar.js"></script>

<!--Slick Carousel -->
<script src="../assets/js/vendors/carousel-slider.js"></script>
<script src="../assets/js/scripts-init/carousel-slider.js"></script>

<!--Circle Progress -->
<script src="../assets/js/vendors/circle-progress.js"></script>
<script src="../assets/js/scripts-init/circle-progress.js"></script>

<!--CountUp -->
<script src="../assets/js/vendors/count-up.js"></script>
<script src="../assets/js/scripts-init/count-up.js"></script>

<!--Cropper -->
<script src="../assets/js/vendors/cropper.js"></script>
<script src="../assets/js/vendors/jquery-cropper.js"></script>
<script src="../assets/js/scripts-init/image-crop.js"></script>

<!--Maps -->
<script src="../assets/js/vendors/gmaps.js"></script>
<script src="../assets/js/vendors/jvectormap.js"></script>
<script src="../assets/js/scripts-init/maps-word-map.js"></script>
<script src="../assets/js/scripts-init/maps.js"></script>

<!--Guided Tours -->
<script src="../assets/js/vendors/guided-tours.js"></script>
<script src="../assets/js/scripts-init/guided-tours.js"></script>

<!--Ladda Loading Buttons -->
<script src="../assets/js/vendors/ladda-loading.js"></script>
<script src="../assets/js/vendors/spin.js"></script>
<script src="../assets/js/scripts-init/ladda-loading.js"></script>

<!--Rating -->
<script src="../assets/js/vendors/rating.js"></script>
<script src="../assets/js/scripts-init/rating.js"></script>

<!--Perfect Scrollbar -->
<script src="../assets/js/vendors/scrollbar.js"></script>
<script src="../assets/js/scripts-init/scrollbar.js"></script>

<!--Toastr-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
<script src="../assets/js/scripts-init/toastr.js"></script>

<!--SweetAlert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="../assets/js/scripts-init/sweet-alerts.js"></script>

<!--Tree View -->
<script src="../assets/js/vendors/treeview.js"></script>
<script src="../assets/js/scripts-init/treeview.js"></script>


<!--TABLES -->
<!--DataTables-->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/datatables.net-bs4@1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js" crossorigin="anonymous"></script>

<!--Bootstrap Tables-->
<script src="../assets/js/vendors/tables.js"></script>

<!--Tables Init-->
<script src="../assets/js/scripts-init/tables.js"></script>

</body>
</html>
